.loader{
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: #000;
}
.loader.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease, visibility 2s ease;
}

.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 4s linear infinite;


    &::before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
}
span{
    /* color: var(--color-lit-200); */
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 4s linear infinite;
}
}

@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px var(--primary-color);
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px var(--design);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px var(--primary-color);
    }
}
@keyframes text{
    0%, 100%{
     color: #000;
    }
    25%, 50%{
        color: #727272;
    }
}