*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --primary-color: #4285F4;
    /* --primary-color-2: #74b0ff; */
    --design: #e6c17d;
    --design-100: #88734a;
    --bgd-lit-100:#ffffff;
    --bgd-lit-200:#e6f2ff;
    --bgd-lit-300:#d1e7ff;

    --col-100: rgb(0, 0, 0);
    --col-200: rgb(0, 0, 0, 0.5);
    --col-300: rgb(0, 0, 0, 0.3);

    --color-lit-100: #ffffff;
    --color-lit-200: #e9f3ff;
    --color-lit-300: #cae5ff;


    --valid: #4285F4;
    --invalid: rgb(244, 25, 25);
    --focused: #4285F4;
    --blur: #ccc;
}
body{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal; 
        background: var(--bgd-lit-200);
    }
.container{
    width: 90%;
    margin-inline: auto;
}

nav{
    position: fixed;
    z-index: 100;
    width: 100%;

    .nav-container{
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin-inline: auto;
        padding: 1rem 0;
        align-items: center;

        .logo{
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            color: var(--color-lit-100);
        }
        ul{
            padding: 0 0 0 10rem;

            li{
                a{
                    text-transform: capitalize;
                    color: var(--color-lit-100);
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

.login{ 
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(../photo/login-image.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    position: relative;


    .login-container{
        padding-top: 30%;
        display: flex;
        position: relative;
        z-index: 1;
        gap: 2rem;
        flex-direction: column;
        color: var(--color-lit-200);

        h2{
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--bgd-lit-300);
            line-height: 1px;
        }
        h1{
            font-size: 36px;
            font-weight: 700;
            line-height: 30px;
            span{
                font-size: 100px;
                color: var(--primary-color);
            }
        }
        p{
            color: var(--bgd-lit-300);
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
            a{
                color: var(--primary-color);

            }
        }
        form{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            .input-field{
                position: relative;
                display: flex;
                border: 2px solid var(--blur);
                padding: 1.5rem .5rem .5rem;
                border-radius: 10px;
                overflow: hidden;
            }

            .input-field select{
                width: 100%;
                padding: .5rem 1.5rem;
                font-size: 14px;
                background: none;
                color: var(--color-lit-200);
                border: none;
                outline: none;

                option{
                    color: var(--design-100);
                }
            }

            .input-field:has(:focus){
                --blur: var(--focused);
            }


            .input-field:has(:invalid:not(:focus)){
                --blur: var(--invalid);

                span,
                label{
                    color: var(--invalid);
                }
            }


            .inputCap{
                text-transform: capitalize;
            }
            .input-field input{
                padding: .5rem;
                width: 100%;
                background: transparent;
                outline: none;
                border: none;
                position: relative;
                z-index: 1;
                color: var(--bgd-lit-100);
                font-size: 14px;
                &::placeholder{
                    color: transparent;
                }
            }
            .input-field:has(:placeholder-shown:not(:focus)){
                --blur: #ccc;
                label{
                    color: var(--blur);
                    animation: none;
                }

                span{
                    color: var(--blur);
                }
            }
            .input-field:has(:not(:placeholder-shown)){
                label{
                    color: var(--focused);
                    animation: toTop 250ms forwards;
                }
                span{
                    color: var(--focused);
                }
            }
            .input-field:has(:valid){
                --blur: var(--valid);

                span,
                label{
                    color: var(--valid);
                }
                
            }
            label{
                left: 1rem;
                position: absolute;
                font-size: 14px;
            }
            span{
                position: absolute;
                right: 1rem;
                top: 30%;
            }
            button{
                padding: 1rem;
                border-radius: 10px;
                font-size: 14px;
                background: #9c9c9cd0;
                color: #ccc;
                font-weight: 600;
                outline: none;
                border: none;
                transition: all 300ms ease;
            }
            .span2{
                grid-column: span 2;
            }
            &:valid button{
                padding: 1rem;
                border-radius: 10px;
                font-size: 14px;
                background: var(--primary-color);
                color: var(--color-lit-100);
                font-weight: 600;
                outline: none;
                border: none;
                cursor: pointer;
                transition: all 300ms ease;

                &:hover{
                    background: #71a8ff;
                }
            }
        }


        h3{
            text-transform: uppercase;
            text-align: center;
            margin: 2rem 0;
        }
        .goggle{
            padding: 1rem;
            width: 100%;
            background: #0b18cc;
            text-align: center;
            color: var(--color-lit-200);
            text-transform: capitalize;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 14px;
            border-radius: 10px;
        }
    }
    .bdg-cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;height: 100%;
        background: rgba(2, 0, 36, 0.738);
        background: linear-gradient(62deg, rgba(2, 0, 36, 0.89) 0%, rgba(0, 0, 0, 0.89) 52%, rgba(0,212,255,0) 100%);
    }
}

@keyframes toTop{
    to{
        top: .5rem;
        font-size: 10px;
    }
}

@media(width > 1500px){
    .container{
        width: 1400px;
    }
}
@media(width < 890px){
    .login{ 
        height: fit-content;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-top: 10%;
        padding: 0 0 10rem 0;

        .login-container{
            h2{
                font-size: 11px;
                line-height: 1px;
            }
            form{
                grid-template-columns: repeat(1fr);
            }
            h1{
                font-size: 22px;
                line-height: 10px;
            }
            h3{
                margin: 0;
            }
        }
    }
}
@media(width < 500px){
    nav{
        backdrop-filter: blur(15px);
    }
    .login{ 
        height: fit-content;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-top: 10%;
        padding: 0 0 10rem 0;

        .login-container{
            h2{
                font-size: 11px;
                line-height: 1px;
            }
            form{
                display: grid;
                grid-template-columns: 1fr;
                .span2,
                button{
                    grid-column: span 1;
                }
            }
            h1{
                font-size: 22px;
                line-height: 10px;
            }
            h3{
                margin: 0;
            }
        }
        .bdg-cover{
            background: rgba(2, 0, 36, 0.738);
            background: linear-gradient(62deg, rgba(2, 0, 36, 0.89) 0%, rgba(0, 0, 0, 0.89) 52%, rgba(21, 78, 152, 0.856) 100%);
        }
    }
}